<a href="https://colab.research.google.com/github/WilsonRomao/estoque_farmacia_sesau/blob/main/backend/pipeline/analise_relatorio_geral.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
import pandas as pd
# importar dados do drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [27]:
base_path = '/content/drive/MyDrive/UFMS - SISTEMAS DE INFORMAÇÃO/PET SAUDE/'



df = pd.read_excel(base_path+"/bronze/Toda a rede.xls", header=None)

# print(df)

In [28]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,05/12/2025,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,Posição de,NaN,- Município,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,Estoque em,NaN,05/12/2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Produto,NaN,Unidade,Fabricante,Localização,NaN,Programa de Saúde,NaN,Validade,Lote,Fator,NaN,NaN,Bloq,NaN,NaN,Qtde,NaN,Valor
4,NaN,Estabelecimento de Saúde: SESAU DAF ALMOX BÁS...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47127,NaN,Total:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,NaN,NaN,NaN,NaN,NaN,0,NaN
47128,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47129,NaN,Total Relatório:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9944075.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47130,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47131,NaN,SUS - Sistema único de Saúde Ministério da...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47132 entries, 0 to 47131
Data columns (total 20 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       0 non-null      float64
 1   1       34103 non-null  object
 2   2       154 non-null    object
 3   3       13025 non-null  object
 4   4       13025 non-null  object
 5   5       13025 non-null  object
 6   6       2 non-null      object
 7   7       13025 non-null  object
 8   8       2 non-null      object
 9   9       13025 non-null  object
 10  10      13025 non-null  object
 11  11      13025 non-null  object
 12  12      16838 non-null  float64
 13  13      13024 non-null  object
 14  14      1 non-null      object
 15  15      1 non-null      object
 16  16      13024 non-null  object
 17  17      1 non-null      object
 18  18      29861 non-null  object
 19  19      1 non-null      object
dtypes: float64(2), object(18)
memory usage: 7.2+ MB

In [30]:
colunas = df.iloc[3].dropna().to_dict()

In [31]:
df = df.rename(columns=colunas)
df

,0,Produto,2,Unidade,Fabricante,Localização,6,Programa de Saúde,8,Validade,Lote,Fator,12,13,Bloq,15,16,Qtde,18,Valor
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,05/12/2025,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,Posição de,NaN,- Município,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,Estoque em,NaN,05/12/2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Produto,NaN,Unidade,Fabricante,Localização,NaN,Programa de Saúde,NaN,Validade,Lote,Fator,NaN,NaN,Bloq,NaN,NaN,Qtde,NaN,Valor
4,NaN,Estabelecimento de Saúde: SESAU DAF ALMOX BÁS...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47127,NaN,Total:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,NaN,NaN,NaN,NaN,NaN,0,NaN
47128,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47129,NaN,Total Relatório:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9944075.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47130,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47131,NaN,SUS - Sistema único de Saúde Ministério da...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
estabelecimentos =df[df["Produto"].astype(str).str.contains('Estabelecimento', case=True, na=False, regex=True)].dropna(axis=1, how='all')#.reset_index(drop=True)

# estabelecimentos = estabelecimentos[1].str.split(': ', n=1, expand=True)
# estabelecimentos = estabelecimentos.drop(columns=0)
estabelecimentos['indice']=estabelecimentos.index
estabelecimentos = estabelecimentos.reset_index(drop=True)

estabelecimentos

                                               Produto  indice
0    Estabelecimento de Saúde:  SESAU DAF ALMOX BÁS...       4
1    Estabelecimento de Saúde: CTA - CENTRO DE TEST...      10
2    Estabelecimento de Saúde: CTA - CENTRO DE TEST...      14
3    Estabelecimento de Saúde: CTA - CENTRO DE TEST...      46
4    Estabelecimento de Saúde: CTA - CENTRO DE TEST...     363
..                                                 ...     ...
208  Estabelecimento de Saúde: SESAU USF VILA CARVALHO   46013
209   Estabelecimento de Saúde: SESAU USF VILA CORUMBA   46017
210  Estabelecimento de Saúde: SESAU USF VILA COX S...   46406
211  Estabelecimento de Saúde: SESAU USF VILA COX S...   46849
212  Estabelecimento de Saúde: SESAU USF VILA COX S...   47105

[213 rows x 2 columns]

In [33]:
from numpy import nan
estab = estabelecimentos.groupby('Produto')['indice'].agg(['min'])
estab = estab.reset_index()
estab['max'] = estab['min'].shift(-1).fillna(len(df)).astype(int)

In [34]:
estab

                                              Produto    min    max
0   Estabelecimento de Saúde:  SESAU DAF ALMOX BÁS...      4     10
1   Estabelecimento de Saúde: CTA - CENTRO DE TEST...     10    379
2   Estabelecimento de Saúde: ESTABELECIMENTO PENA...    379    416
3   Estabelecimento de Saúde: MODULO DE SAUDE DO C...    416    853
4   Estabelecimento de Saúde: PENITENCIARIA ESTADU...    853    906
..                                                ...    ...    ...
84  Estabelecimento de Saúde: SESAU USF SAO FRANCISCO  43929  44699
85  Estabelecimento de Saúde: SESAU USF SEBASTIAO ...  44699  45290
86  Estabelecimento de Saúde: SESAU USF VILA CARVALHO  45290  46017
87   Estabelecimento de Saúde: SESAU USF VILA CORUMBA  46017  46406
88  Estabelecimento de Saúde: SESAU USF VILA COX S...  46406  47132

[89 rows x 3 columns]

In [35]:
estab = estab.rename(columns={'min': 'inicio', 'max': 'fim'})
estab['estabelecimento'] = estab['Produto'].str.split(': ', n=1, expand=True)[1]
estab = estab.drop(columns='Produto')

estab

    inicio    fim                                    estabelecimento
0        4     10                SESAU DAF ALMOX BÁSICO CAMPO GRANDE
1       10    379  CTA - CENTRO DE TESTAGEM E ACONSELHAMENTO CAMP...
2      379    416  ESTABELECIMENTO PENAL DE SEGURANÇA MÁXIMA- JAI...
3      416    853  MODULO DE SAUDE DO COMPLEXO PENITENCIARIO/A DE...
4      853    906  PENITENCIARIA ESTADUAL MASC REGIME FECHADO GAM...
..     ...    ...                                                ...
84   43929  44699                            SESAU USF SAO FRANCISCO
85   44699  45290      SESAU USF SEBASTIAO LUIZ NOGUEIRA LOS ANGELES
86   45290  46017                            SESAU USF VILA CARVALHO
87   46017  46406                             SESAU USF VILA CORUMBA
88   46406  47132                     SESAU USF VILA COX SANTA LUZIA

[89 rows x 3 columns]

In [42]:
import os
silver_path = base_path + '/silver'
os.makedirs(silver_path, exist_ok=True)

# Define a linha de início dos dados reais no DataFrame original
LINHA_INICIO_DADOS_ORIGINAL = 4

for index, row in estab.iterrows():
    idx_inicio = row['inicio']
    idx_fim = row['fim']
    nome_estabelecimento = row['estabelecimento']

    # Fatia o DataFrame original para o estabelecimento atual
    df_estab = df.iloc[idx_inicio:idx_fim].copy()

    # Ajusta o início do fatiamento para ignorar linhas de cabeçalho/metadados no df_estab
    idx_dados_relativo = max(0, LINHA_INICIO_DADOS_ORIGINAL - idx_inicio)
    df_estab = df_estab.iloc[idx_dados_relativo:].copy()

    # Renomeia as colunas usando o dicionário 'colunas'
    df_estab = df_estab.rename(columns=colunas)

    # Remove colunas e linhas que são inteiramente NaN
    df_estab = df_estab.dropna(axis=1, how='all')
    df_estab = df_estab.dropna(axis=0, how='all')

    # Saneia o nome do estabelecimento para criar um nome de arquivo válido
    nome_sanitizado = nome_estabelecimento.replace('/', '_').replace(':', '_').replace('\\', '_').replace('*', '_').replace('?', '_').replace('"', '_').replace('<', '_').replace('>', '_').replace('|', '_')

    # Constrói o caminho e salva o DataFrame em um arquivo Excel na pasta 'silver'
    caminho_final = os.path.join(silver_path, f"{nome_sanitizado}.xlsx")
    df_estab.to_excel(caminho_final, index=False)

print("Arquivos Excel criados com sucesso no diretório 'silver'.")

Arquivos Excel criados com sucesso no diretório 'silver'.

# Extraindo informações de cada unidade

In [ ]:
#carregar arquivos da pasta silver

dataframe = pd.read_excel()
dataframe

Extraindo dados dos medicamentos

In [ ]:
medicamentos_df = dataframe[dataframe['Produto'].astype(str).str.contains('BR', case=True, na=False, regex=True)].dropna(axis=1, how='all').reset_index(drop=True)
medicamentos_df = medicamentos_df.rename(columns={'Produto': 'nome_medicamento'})
medicamentos_df[['codigo_medicamento','nome_medicamento']] = medicamentos_df['nome_medicamento'].str.split(' ', n=1, expand=True)


display(medicamentos_df)

In [ ]:
quantidade_df = dataframe[dataframe['Produto'].astype(str).str.contains('Total', case=True, na=False, regex=True)].dropna(axis=1, how='all').reset_index(drop=True)

quantidade_df = quantidade_df.drop(columns=['Produto',18])
quantidade_df = quantidade_df.rename(columns={12: 'quantidade'})

display(quantidade_df)

In [ ]:
estoque = pd.merge(medicamentos_df, quantidade_df, left_index=True, right_index=True, how='inner')

estoque = estoque[['codigo_medicamento','nome_medicamento','quantidade']]
estoque

In [ ]:
# save estoue in a json named estoque_processado_alves_pereira
estoque.to_json(base_path + '/estoque_processado_alves_pereira.json', orient='records')
# # SAVA A CSV WITH THE SAME NAME
# estoque.to_csv(base_path + '/estoque_processado_alves_pereira.csv', index=False)