<a href="https://colab.research.google.com/github/WilsonRomao/estoque_farmacia_sesau/blob/main/backend/pipeline/analise_relatorio_geral.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
# importar dados do drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [31]:
base_path = '/content/drive/MyDrive/UFMS - SISTEMAS DE INFORMAÇÃO/PET SAUDE'



df = pd.read_excel(base_path+"/Toda a rede.xls", header=None)

# print(df)

In [32]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,05/12/2025,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,Posição de,NaN,- Município,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,Estoque em,NaN,05/12/2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Produto,NaN,Unidade,Fabricante,Localização,NaN,Programa de Saúde,NaN,Validade,Lote,Fator,NaN,NaN,Bloq,NaN,NaN,Qtde,NaN,Valor
4,NaN,Estabelecimento de Saúde: SESAU DAF ALMOX BÁS...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47127,NaN,Total:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,NaN,NaN,NaN,NaN,NaN,0,NaN
47128,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47129,NaN,Total Relatório:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9944075.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47130,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47131,NaN,SUS - Sistema único de Saúde Ministério da...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47132 entries, 0 to 47131
Data columns (total 20 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       0 non-null      float64
 1   1       34103 non-null  object
 2   2       154 non-null    object
 3   3       13025 non-null  object
 4   4       13025 non-null  object
 5   5       13025 non-null  object
 6   6       2 non-null      object
 7   7       13025 non-null  object
 8   8       2 non-null      object
 9   9       13025 non-null  object
 10  10      13025 non-null  object
 11  11      13025 non-null  object
 12  12      16838 non-null  float64
 13  13      13024 non-null  object
 14  14      1 non-null      object
 15  15      1 non-null      object
 16  16      13024 non-null  object
 17  17      1 non-null      object
 18  18      29861 non-null  object
 19  19      1 non-null      object
dtypes: float64(2), object(18)
memory usage: 7.2+ MB

In [34]:
colunas = df.iloc[3].dropna().to_dict()

In [35]:
df = df.rename(columns=colunas)
df

,0,Produto,2,Unidade,Fabricante,Localização,6,Programa de Saúde,8,Validade,Lote,Fator,12,13,Bloq,15,16,Qtde,18,Valor
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,05/12/2025,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,Posição de,NaN,- Município,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,Estoque em,NaN,05/12/2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Produto,NaN,Unidade,Fabricante,Localização,NaN,Programa de Saúde,NaN,Validade,Lote,Fator,NaN,NaN,Bloq,NaN,NaN,Qtde,NaN,Valor
4,NaN,Estabelecimento de Saúde: SESAU DAF ALMOX BÁS...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47127,NaN,Total:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,NaN,NaN,NaN,NaN,NaN,0,NaN
47128,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47129,NaN,Total Relatório:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9944075.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47130,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47131,NaN,SUS - Sistema único de Saúde Ministério da...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
estabelecimentos =df[df["Produto"].astype(str).str.contains('Estabelecimento', case=True, na=False, regex=True)].dropna(axis=1, how='all')#.reset_index(drop=True)

# estabelecimentos = estabelecimentos[1].str.split(': ', n=1, expand=True)
# estabelecimentos = estabelecimentos.drop(columns=0)
estabelecimentos['indice']=estabelecimentos.index
estabelecimentos = estabelecimentos.reset_index(drop=True)

estabelecimentos

                                               Produto  indice
0    Estabelecimento de Saúde:  SESAU DAF ALMOX BÁS...       4
1    Estabelecimento de Saúde: CTA - CENTRO DE TEST...      10
2    Estabelecimento de Saúde: CTA - CENTRO DE TEST...      14
3    Estabelecimento de Saúde: CTA - CENTRO DE TEST...      46
4    Estabelecimento de Saúde: CTA - CENTRO DE TEST...     363
..                                                 ...     ...
208  Estabelecimento de Saúde: SESAU USF VILA CARVALHO   46013
209   Estabelecimento de Saúde: SESAU USF VILA CORUMBA   46017
210  Estabelecimento de Saúde: SESAU USF VILA COX S...   46406
211  Estabelecimento de Saúde: SESAU USF VILA COX S...   46849
212  Estabelecimento de Saúde: SESAU USF VILA COX S...   47105

[213 rows x 2 columns]

In [62]:
from numpy import nan
estab = estabelecimentos.groupby('Produto')['indice'].agg(['min'])
estab = estab.reset_index()
estab['max'] = estab['min'].shift(-1)
estab[estab['max'].isna()].fillna(len(df))
estab

                                              Produto    min      max
0   Estabelecimento de Saúde:  SESAU DAF ALMOX BÁS...      4     10.0
1   Estabelecimento de Saúde: CTA - CENTRO DE TEST...     10    379.0
2   Estabelecimento de Saúde: ESTABELECIMENTO PENA...    379    416.0
3   Estabelecimento de Saúde: MODULO DE SAUDE DO C...    416    853.0
4   Estabelecimento de Saúde: PENITENCIARIA ESTADU...    853    906.0
..                                                ...    ...      ...
84  Estabelecimento de Saúde: SESAU USF SAO FRANCISCO  43929  44699.0
85  Estabelecimento de Saúde: SESAU USF SEBASTIAO ...  44699  45290.0
86  Estabelecimento de Saúde: SESAU USF VILA CARVALHO  45290  46017.0
87   Estabelecimento de Saúde: SESAU USF VILA CORUMBA  46017  46406.0
88  Estabelecimento de Saúde: SESAU USF VILA COX S...  46406      NaN

[89 rows x 3 columns]

In [29]:
df.iloc[estabelecimentos.iloc[1,1]:estabelecimentos.iloc[3,1]]

,0,Produto,2,Unidade,Fabricante,Localização,6,Programa de Saúde,8,Validade,Lote,Fator,12,13,Bloq,15,16,Qtde,18,Valor
10,NaN,Estabelecimento de Saúde: CTA - CENTRO DE TEST...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,Fonte de,ESTADUAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,"BR0606841U0042 RIFAPENTINA, ASSOCIADA À ISONIA...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,Total:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0,NaN
14,NaN,Estabelecimento de Saúde: CTA - CENTRO DE TEST...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,Fonte de,FEDERAL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,BR0467031U0042 DARUNAVIR 800 MG COMPRIMIDO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,COMP.,FIOCRUZ,ARMARIO DE ANTIRETROVIRAIS,NaN,ASSISTÊNCIA FARMACÊUTICA,NaN,31/08/2027,50031821,1,NaN,N,NaN,NaN,600,NaN,"0,00",NaN
18,NaN,Total:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,600.0,NaN,NaN,NaN,NaN,NaN,0,NaN
19,NaN,BR0433687U0042 DOLUTEGRAVIR 50 MG COMP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,COMP.,FIOCRUZ,ARMARIO DE ANTIRETROVIRAIS,NaN,DST/AIDS,NaN,31/01/2027,DGYG,1,NaN,N,NaN,NaN,3.900,NaN,"0,00",NaN
21,NaN,NaN,NaN,COMP.,FIOCRUZ,ARMARIO DE ANTIRETROVIRAIS,NaN,DST/AIDS,NaN,31/03/2027,DSMP,1,NaN,N,NaN,NaN,20.730,NaN,"0,00",NaN
22,NaN,Total:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24630.0,NaN,NaN,NaN,NaN,NaN,0,NaN
23,NaN,BR0428423U0042 FUMARATO DE TENOFOVIR DESOPROXI...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,COMP.,FIOCRUZ,ARMARIO DE ANTIRETROVIRAIS,NaN,ASSISTÊNCIA FARMACÊUTICA,NaN,31/03/2027,25030323,1,NaN,N,NaN,NaN,3.540,NaN,"8.460,60",NaN
25,NaN,NaN,NaN,COMP.,FIOCRUZ,ARMARIO DE ANTIRETROVIRAIS,NaN,ASSISTÊNCIA FARMACÊUTICA,NaN,30/04/2027,25040460,1,NaN,N,NaN,NaN,12.330,NaN,"21.294,90",NaN
26,NaN,NaN,NaN,COMP.,FIOCRUZ,ARMARIO DE ANTIRETROVIRAIS,NaN,ASSISTÊNCIA FARMACÊUTICA,NaN,30/04/2027,25040461,1,NaN,N,NaN,NaN,25.080,NaN,"0,00",NaN
27,NaN,Total:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40950.0,NaN,NaN,NaN,NaN,NaN,29755.5,NaN
28,NaN,BR0486368U0042 LAMIVUDINA ASSOCIADO AO DOLUTEG...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,COMP.,FIOCRUZ,ARMARIO DE ANTIRETROVIRAIS,NaN,ASSISTÊNCIA FARMACÊUTICA,NaN,31/10/2026,6S2R,1,NaN,N,NaN,NaN,2.820,NaN,"15.312,60",NaN
30,NaN,NaN,NaN,COMP.,FIOCRUZ,ARMARIO DE ANTIRETROVIRAIS,NaN,ASSISTÊNCIA FARMACÊUTICA,NaN,30/11/2026,9R6K,1,NaN,N,NaN,NaN,6.000,NaN,"0,00",NaN
31,NaN,Total:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8820.0,NaN,NaN,NaN,NaN,NaN,15312.6,NaN
32,NaN,BR0268345U0042 LAMIVUDINA 150 MG COMP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,COMP.,FIOCRUZ,ARMARIO DE ANTIRETROVIRAIS,NaN,ANTIMICROBIANOS,NaN,31/01/2027,25010061,1,NaN,N,NaN,NaN,7.740,NaN,"5.340,60",NaN
34,NaN,Total:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7740.0,NaN,NaN,NaN,NaN,NaN,5340.6,NaN
35,NaN,"BR0357783 REAGENTE PARA DIAGNÓSTICO CLÍNICO , ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,Total:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0,NaN
37,NaN,"BR0368252 REAGENTE PARA DIAGNÓSTICO CLÍNICO , ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,NaN,Total:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0,NaN
39,NaN,BR0268830U0042 RITONAVIR 100 MG COMPRIMIDO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,NaN,NaN,NaN,COMP.,FIOCRUZ,ARMARIO DE ANTIRETROVIRAIS,NaN,ASSISTÊNCIA FARMACÊUTICA,NaN,30/04/2027,50027518,1,NaN,N,NaN,NaN,600,NaN,"0,00",NaN
41,NaN,Total:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,600.0,NaN,NaN,NaN,NaN,NaN,0,NaN
42,NaN,"BR0439142U0042 TENOFOVIR, ENTRICITABINA, 300 ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,NaN,NaN,NaN,COMP.,FIOCRUZ,ARMARIO DE ANTIRETROVIRAIS,NaN,ASSISTÊNCIA FARMACÊUTICA,NaN,31/10/2026,257001398,1,NaN,N,NaN,NaN,1.680,NaN,"5.124,00",NaN
44,NaN,NaN,NaN,COMP.,FIOCRUZ,ARMARIO DE ANTIRETROVIRAIS,NaN,ASSISTÊNCIA FARMACÊUTICA,NaN,31/10/2026,257001513,1,NaN,N,NaN,NaN,38.550,NaN,"26.901,00",NaN
45,NaN,Total:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40230.0,NaN,NaN,NaN,NaN,NaN,32025,NaN